<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body style="background-color: rgb(243, 255, 190);">

    <h1>Bienvenido al inicio,<strong> te estabamos esperando</strong></h1>

    <% if (bandera == true) { %>
        <button style="background: green;cursor: pointer;"> CORRECTO</button>
    <% } else {%>
        <button style="background: red;cursor: pointer;"> NO CORRECTO</button>
    <% } %>

</body>
</html>